# Sumário

- [Tratamento de dados](#Tratamento-de-Dados)
- [Exercícios](#Exercícios)

    - [1. Estes valores estão distribuídos em dados semanais, agrupe eles por mês e calcule as médias de valores de cada combustível por cidade.](#1.)
    - [2. Calcule a média de valor do combustível por estado e região.](#2.)
    - [3. Calcule a variância e a variação absoluta do máximo, mínimo de cada cidade, mês a mês.](#3.)
    - [4. Quais são as 5 cidades que possuem a maior diferença entre o combustível mais barato e o mais caro.](#4.)

In [1]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as sf
from pyspark.sql.window import Window

#Criação de uma variável de ambiente, vai instanciando uma sessão Spark
spark = SparkSession.builder.appName("Processa dados massivos").master("local[4]").getOrCreate()

In [2]:
df = spark.read.csv("SEMANAL_MUNICIPIOS-2019.csv",
                    inferSchema=True,
                    header =True,
                    sep=",",
                    encoding = 'utf-8',
                    
)

In [3]:
df.toPandas()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,MUNICÍPIO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,30/12/2018,5/1/2019,NORTE,PARA,ABAETETUBA,ETANOL HIDRATADO,1,R$/l,"4,650","0,000","4,650","4,650",-,"0,000",-,-,-,-,-
1,30/12/2018,5/1/2019,NORDESTE,MARANHAO,ACAILANDIA,ETANOL HIDRATADO,2,R$/l,"3,524","0,389","3,249","3,799",-,"0,110",-,-,-,-,-
2,30/12/2018,5/1/2019,SUDESTE,SAO PAULO,ADAMANTINA,ETANOL HIDRATADO,8,R$/l,"2,599","0,105","2,450","2,690","0,243","0,040","2,356","0,078","2,269","2,420","0,033"
3,30/12/2018,5/1/2019,CENTRO OESTE,GOIAS,AGUAS LINDAS DE GOIAS,ETANOL HIDRATADO,5,R$/l,"3,031","0,110","2,939","3,199","0,359","0,036","2,672","0,024","2,655","2,689","0,009"
4,30/12/2018,5/1/2019,NORDESTE,BAHIA,ALAGOINHAS,ETANOL HIDRATADO,9,R$/l,"3,220","0,170","2,920","3,320","0,404","0,053","2,816","0,090","2,725","2,904","0,032"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73307,28/7/2019,3/8/2019,SUL,SANTA CATARINA,TUBARAO,GNV,1,R$/m3,"2,949","0,000","2,949","2,949","0,951","0,000","1,998","0,000","1,998","1,998","0,000"
73308,28/7/2019,3/8/2019,SUDESTE,RIO DE JANEIRO,VALENCA,GNV,1,R$/m3,"4,190","0,000","4,190","4,190",-,"0,000",-,-,-,-,-
73309,28/7/2019,3/8/2019,SUDESTE,ESPIRITO SANTO,VILA VELHA,GNV,1,R$/m3,"3,299","0,000","3,299","3,299",-,"0,000",-,-,-,-,-
73310,28/7/2019,3/8/2019,SUDESTE,ESPIRITO SANTO,VITORIA,GNV,2,R$/m3,"3,295","0,006","3,290","3,299",-,"0,002",-,-,-,-,-
73311,28/7/2019,3/8/2019,SUDESTE,RIO DE JANEIRO,VOLTA REDONDA,GNV,2,R$/m3,"3,649","0,071","3,599","3,699",-,"0,019",-,-,-,-,-

## Tratamento de Dados

In [4]:
df.printSchema()

root
 |-- DATA INICIAL: string (nullable = true)
 |-- DATA FINAL: string (nullable = true)
 |-- REGIÃO: string (nullable = true)
 |-- ESTADO: string (nullable = true)
 |-- MUNICÍPIO: string (nullable = true)
 |-- PRODUTO: string (nullable = true)
 |-- NÚMERO DE POSTOS PESQUISADOS: integer (nullable = true)
 |-- UNIDADE DE MEDIDA: string (nullable = true)
 |-- PREÇO MÉDIO REVENDA: string (nullable = true)
 |-- DESVIO PADRÃO REVENDA: string (nullable = true)
 |-- PREÇO MÍNIMO REVENDA: string (nullable = true)
 |-- PREÇO MÁXIMO REVENDA: string (nullable = true)
 |-- MARGEM MÉDIA REVENDA: string (nullable = true)
 |-- COEF DE VARIAÇÃO REVENDA: string (nullable = true)
 |-- PREÇO MÉDIO DISTRIBUIÇÃO: string (nullable = true)
 |-- DESVIO PADRÃO DISTRIBUIÇÃO: string (nullable = true)
 |-- PREÇO MÍNIMO DISTRIBUIÇÃO: string (nullable = true)
 |-- PREÇO MÁXIMO DISTRIBUIÇÃO: string (nullable = true)
 |-- COEF DE VARIAÇÃO DISTRIBUIÇÃO: string (nullable = true)

- Convertendo datas para o tipo correto:

In [5]:
# iterar colunas to tipo de data convertendo-as
for col in ["DATA INICIAL","DATA FINAL"]:
    df = df.withColumn(col, sf.to_date(col,"d/M/y"))

- Convertendo colunas com valores decimais para o tipo float:

In [6]:
# source: https://stackoverflow.com/questions/52702608/pyspark-how-to-specify-column-with-comma-as-decimal
for col in df.columns[8:]:
    # replace de virgula por ponto
    df = df.withColumn(col, sf.regexp_replace(col, ',', '.'))
    # convertendo tipo
    df = df.withColumn(col, df[col].cast("float"))

In [7]:
# checando rapidamente se houve alguma perda informação em relação ao dataframe anterior
df.toPandas()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,MUNICÍPIO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2018-12-30,2019-01-05,NORTE,PARA,ABAETETUBA,ETANOL HIDRATADO,1,R$/l,4.650,0.000,4.650,4.650,NaN,0.000,NaN,NaN,NaN,NaN,NaN
1,2018-12-30,2019-01-05,NORDESTE,MARANHAO,ACAILANDIA,ETANOL HIDRATADO,2,R$/l,3.524,0.389,3.249,3.799,NaN,0.110,NaN,NaN,NaN,NaN,NaN
2,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,ADAMANTINA,ETANOL HIDRATADO,8,R$/l,2.599,0.105,2.450,2.690,0.243,0.040,2.356,0.078,2.269,2.420,0.033
3,2018-12-30,2019-01-05,CENTRO OESTE,GOIAS,AGUAS LINDAS DE GOIAS,ETANOL HIDRATADO,5,R$/l,3.031,0.110,2.939,3.199,0.359,0.036,2.672,0.024,2.655,2.689,0.009
4,2018-12-30,2019-01-05,NORDESTE,BAHIA,ALAGOINHAS,ETANOL HIDRATADO,9,R$/l,3.220,0.170,2.920,3.320,0.404,0.053,2.816,0.090,2.725,2.904,0.032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73307,2019-07-28,2019-08-03,SUL,SANTA CATARINA,TUBARAO,GNV,1,R$/m3,2.949,0.000,2.949,2.949,0.951,0.000,1.998,0.000,1.998,1.998,0.000
73308,2019-07-28,2019-08-03,SUDESTE,RIO DE JANEIRO,VALENCA,GNV,1,R$/m3,4.190,0.000,4.190,4.190,NaN,0.000,NaN,NaN,NaN,NaN,NaN
73309,2019-07-28,2019-08-03,SUDESTE,ESPIRITO SANTO,VILA VELHA,GNV,1,R$/m3,3.299,0.000,3.299,3.299,NaN,0.000,NaN,NaN,NaN,NaN,NaN
73310,2019-07-28,2019-08-03,SUDESTE,ESPIRITO SANTO,VITORIA,GNV,2,R$/m3,3.295,0.006,3.290,3.299,NaN,0.002,NaN,NaN,NaN,NaN,NaN
73311,2019-07-28,2019-08-03,SUDESTE,RIO DE JANEIRO,VOLTA REDONDA,GNV,2,R$/m3,3.649,0.071,3.599,3.699,NaN,0.019,NaN,NaN,NaN,NaN,NaN

In [8]:
# chacando se todos os tipos estão corretos
df.printSchema()

root
 |-- DATA INICIAL: date (nullable = true)
 |-- DATA FINAL: date (nullable = true)
 |-- REGIÃO: string (nullable = true)
 |-- ESTADO: string (nullable = true)
 |-- MUNICÍPIO: string (nullable = true)
 |-- PRODUTO: string (nullable = true)
 |-- NÚMERO DE POSTOS PESQUISADOS: integer (nullable = true)
 |-- UNIDADE DE MEDIDA: string (nullable = true)
 |-- PREÇO MÉDIO REVENDA: float (nullable = true)
 |-- DESVIO PADRÃO REVENDA: float (nullable = true)
 |-- PREÇO MÍNIMO REVENDA: float (nullable = true)
 |-- PREÇO MÁXIMO REVENDA: float (nullable = true)
 |-- MARGEM MÉDIA REVENDA: float (nullable = true)
 |-- COEF DE VARIAÇÃO REVENDA: float (nullable = true)
 |-- PREÇO MÉDIO DISTRIBUIÇÃO: float (nullable = true)
 |-- DESVIO PADRÃO DISTRIBUIÇÃO: float (nullable = true)
 |-- PREÇO MÍNIMO DISTRIBUIÇÃO: float (nullable = true)
 |-- PREÇO MÁXIMO DISTRIBUIÇÃO: float (nullable = true)
 |-- COEF DE VARIAÇÃO DISTRIBUIÇÃO: float (nullable = true)

- Confirmar que **produto** e **medida** não têm combinações duplicadas como mesmo produto e duas unidades de medidas diferentes.

In [9]:
df.dropDuplicates(['PRODUTO', 'UNIDADE DE MEDIDA']).select(['PRODUTO', 'UNIDADE DE MEDIDA']).show()

+----------------+-----------------+
|         PRODUTO|UNIDADE DE MEDIDA|
+----------------+-----------------+
|             GNV|            R$/m3|
|             GLP|          R$/13Kg|
|ETANOL HIDRATADO|             R$/l|
|  GASOLINA COMUM|             R$/l|
|     ÓLEO DIESEL|             R$/l|
| ÓLEO DIESEL S10|             R$/l|
+----------------+-----------------+

In [10]:
# Olhar todas as combinações de datas disponíveis
df.dropDuplicates(
                ['DATA INICIAL', 'DATA FINAL']
            ).select(
                ['DATA INICIAL', 'DATA FINAL']
            ).orderBy("DATA INICIAL", ascending=True).show()

+------------+----------+
|DATA INICIAL|DATA FINAL|
+------------+----------+
|  2018-12-30|2019-01-05|
|  2019-01-06|2019-01-12|
|  2019-01-13|2019-01-19|
|  2019-01-20|2019-01-26|
|  2019-01-27|2019-02-02|
|  2019-02-03|2019-02-09|
|  2019-02-10|2019-02-16|
|  2019-02-17|2019-02-23|
|  2019-02-24|2019-03-02|
|  2019-03-03|2019-03-09|
|  2019-03-10|2019-03-16|
|  2019-03-17|2019-03-23|
|  2019-03-24|2019-03-30|
|  2019-03-31|2019-04-06|
|  2019-04-07|2019-04-13|
|  2019-04-14|2019-04-20|
|  2019-04-21|2019-04-27|
|  2019-04-28|2019-05-04|
|  2019-05-05|2019-05-11|
|  2019-05-12|2019-05-18|
+------------+----------+
only showing top 20 rows

df.withColumn('report_date_10', F.date_add(df_dc['report_date'], 10)).show()

## Exercícios

### 1.
**Estes valores estão distribuídos em dados semanais, agrupe eles por mês e calcule as médias de valores de cada combustível por cidade.**

- Fiquei em dúvida se realmente o objetivo seria agrupar só por **mês**, me parece que faria mais sentido por **ano** e por **mês** e assim o fiz.

- Também fiquei em dúvida se utilizava **DATA INICIAL** ou **DATA FINAL**, inicialmente acabei optando por **INICIAL** pois achei que faria mais sentido me referir a cada linha como **semana x inicio** em vez de **semana x fim**. Também pensei em pegar o dia médio de cada semana, mas não me senti tão compelido por essa idéia embora fosse boa.

- Porém depois pensei se eu pegasse o dia médio, eu estaria claramente selecionando no minimo 4 dias da semana como indicador do mês correto, do total de 7 dias, logo seria a melhor lógica e assim o fiz. 

- Outra dúvida também foi qual valor usar, **REVENDA** ou **DISTRIBUIÇÃO**, acabei optando pela coluna **PREÇO MÉDIO** de ambas, separadamente.

In [11]:
# criando coluna data média adicionando 3 dias à data inicial
df = df.withColumn('DATA MÉDIA', sf.date_add(df['DATA INICIAL'], 3))

In [12]:
# criando colunas mês e ano a partir de data média
df = df.withColumn("ANO MÉDIO", sf.year("DATA MÉDIA"))
df = df.withColumn("MES MÉDIO", sf.month("DATA MÉDIA"))

In [13]:
media_combustivel_p_cidade_p_mês = df.groupBy("ANO MÉDIO", "MES MÉDIO", "MUNICÍPIO", "PRODUTO"
    ).agg(
        sf.avg("PREÇO MÉDIO REVENDA").alias("PREÇO MÉDIO REVENDA"),
        sf.avg("PREÇO MÉDIO DISTRIBUIÇÃO").alias("PREÇO MÉDIO DISTRIBUIÇÃO")
    )

In [14]:
media_combustivel_p_cidade_p_mês.orderBy("PREÇO MÉDIO REVENDA", ascending=True).show(50)

+---------+---------+--------------------+----------------+-------------------+------------------------+
|ANO MÉDIO|MES MÉDIO|           MUNICÍPIO|         PRODUTO|PREÇO MÉDIO REVENDA|PREÇO MÉDIO DISTRIBUIÇÃO|
+---------+---------+--------------------+----------------+-------------------+------------------------+
|     2019|        1|                 POA|             GNV| 2.1589999198913574|                    null|
|     2019|        2|                 POA|             GNV| 2.1589999198913574|                    null|
|     2019|        1|     ITAQUAQUECETUBA|             GNV|  2.178999900817871|                    null|
|     2019|        2|          MOGI MIRIM|             GNV| 2.1989998817443848|                    null|
|     2019|        1|          MOGI MIRIM|             GNV| 2.1989998817443848|                    null|
|     2019|        1|           SAO PAULO|             GNV|  2.218400001525879|       1.859000027179718|
|     2019|        1|           GUARULHOS|             GNV| 2.2487499713897705|                    null|
|     2019|        1|         HORTOLANDIA|             GNV|               2.25|                    null|
|     2019|        1|            CAMPINAS|             GNV|  2.286999988555908|                    null|
|     2019|        1|            PAULINIA|             GNV| 2.2950000762939453|                    null|
|     2019|        7|       VARZEA GRANDE|ETANOL HIDRATADO| 2.2968000411987304|      2.0752000331878664|
|     2019|        1|              SUZANO|             GNV| 2.2990000247955322|                    null|
|     2019|        1|             TAUBATE|             GNV| 2.2990000247955322|                    null|
|     2019|        1|            CACAPAVA|             GNV| 2.2990000247955322|                    null|
|     2019|        7|              CUIABA|ETANOL HIDRATADO|  2.299399995803833|       2.060599994659424|
|     2019|        7|               ASSIS|ETANOL HIDRATADO|  2.303399991989136|       2.210199975967407|
|     2019|        1|     PINDAMONHANGABA|             GNV| 2.3389999866485596|                    null|
|     2019|        6|            IBITINGA|ETANOL HIDRATADO| 2.3424999713897705|      2.1280000805854797|
|     2019|        1|              FRANCA|ETANOL HIDRATADO| 2.3443999767303465|      2.1575999736785887|
|     2019|        7|            IBITINGA|ETANOL HIDRATADO|  2.348199987411499|      2.1667999744415285|
|     2019|        7|            OURINHOS|ETANOL HIDRATADO|  2.357599973678589|       2.132200002670288|
|     2019|        6|       VARZEA GRANDE|ETANOL HIDRATADO| 2.3610000014305115|      2.1172500252723694|
|     2019|        7|                LINS|ETANOL HIDRATADO| 2.3729999542236326|      2.1558000564575197|
|     2019|        7|            BARRETOS|ETANOL HIDRATADO|  2.373800039291382|       2.150600004196167|
|     2019|        1|     MOGI DAS CRUZES|             GNV| 2.3739999532699585|                    null|
|     2019|        7|               BAURU|ETANOL HIDRATADO|   2.38560004234314|      2.2015999794006347|
|     2019|        6|SAO JOSE DO RIO P...|ETANOL HIDRATADO|   2.39000004529953|       2.225499987602234|
|     2019|        6|            MIRASSOL|ETANOL HIDRATADO| 2.3910000324249268|      2.2114999890327454|
|     2019|        6|           ARACATUBA|ETANOL HIDRATADO| 2.3917499780654907|       2.136250078678131|
|     2019|        2|     TABOAO DA SERRA|             GNV| 2.3922500610351562|                    null|
|     2019|        1|  SAO CAETANO DO SUL|             GNV|  2.394999933242798|                    null|
|     2019|        1|            VALINHOS|             GNV| 2.3989999294281006|                    null|
|     2019|        1|SAO BERNARDO DO C...|             GNV| 2.3989999294281006|                    null|
|     2019|        1|          PIRACICABA|             GNV| 2.3989999294281006|        1.74999996026357|
|     2019|        1|     TABOAO DA SERRA|             GNV| 2.3989999294281006|                    null|
|     2019|        1|           AMERICANA|             GNV| 2.3989999294281006|                    null|
|     2019|        7|          ADAMANTINA|ETANOL HIDRATADO| 2.3995999813079836|       2.189200019836426|
|     2019|        1| SAO JOSE DOS CAMPOS|             GNV| 2.4019999504089355|                    null|
|     2019|        6|            OURINHOS|ETANOL HIDRATADO| 2.4062500596046448|       2.114500045776367|
|     2019|        6|               MATAO|ETANOL HIDRATADO| 2.4077500104904175|      2.1799999475479126|
|     2019|        7|             OLIMPIA|ETANOL HIDRATADO| 2.4098000049591066|      2.2001999378204347|
|     2019|        2|         HORTOLANDIA|             GNV|  2.412249982357025|                    null|
|     2019|        7|            MIRASSOL|ETANOL HIDRATADO|   2.41680006980896|       2.179200029373169|
|     2019|        2|       VARZEA GRANDE|ETANOL HIDRATADO| 2.4225000143051147|      2.1632500290870667|
|     2019|        6|              CUIABA|ETANOL HIDRATADO| 2.4237500429153442|      2.1417500376701355|
|     2019|        1|           ARACATUBA|ETANOL HIDRATADO|  2.428600025177002|       2.205800008773804|
|     2019|        7|SAO JOSE DO RIO P...|ETANOL HIDRATADO|  2.430199956893921|      2.1732000350952148|
|     2019|        7|             LIMEIRA|ETANOL HIDRATADO|  2.431400012969971|      2.2252000331878663|
|     2019|        2|              CUIABA|ETANOL HIDRATADO| 2.4325000643730164|       2.190249979496002|
|     2019|        2|            MIRASSOL|ETANOL HIDRATADO| 2.4339999556541443|       2.172249972820282|
+---------+---------+--------------------+----------------+-------------------+------------------------+
only showing top 50 rows

In [15]:
media_combustivel_p_cidade_p_mês.orderBy("PREÇO MÉDIO REVENDA", ascending=False).show(50)

+---------+---------+-------------+-------+-------------------+------------------------+
|ANO MÉDIO|MES MÉDIO|    MUNICÍPIO|PRODUTO|PREÇO MÉDIO REVENDA|PREÇO MÉDIO DISTRIBUIÇÃO|
+---------+---------+-------------+-------+-------------------+------------------------+
|     2019|        1|      SORRISO|    GLP|            108.375|       79.30000305175781|
|     2019|        1|ALTA FLORESTA|    GLP| 105.03339996337891|                    83.6|
|     2019|        1|        SINOP|    GLP| 103.16699981689453|       80.13800048828125|
|     2019|        2|ALTA FLORESTA|    GLP|            103.125|                    86.0|
|     2019|        6|ALTA FLORESTA|    GLP|              103.0|                    86.0|
|     2019|        2|        SINOP|    GLP| 102.70849990844727|                    81.0|
|     2019|        2|      SORRISO|    GLP|          102.34375|       79.30000305175781|
|     2019|        3|        SINOP|    GLP| 101.97900009155273|                    81.0|
|     2019|        5|        SINOP|    GLP| 101.91679992675782|                    80.8|
|     2019|        5|ALTA FLORESTA|    GLP|  101.7333999633789|                    86.0|
|     2019|        4|        SINOP|    GLP| 101.45825004577637|                   80.75|
|     2019|        7|ALTA FLORESTA|    GLP| 101.33339996337891|                    86.0|
|     2019|        6|      SORRISO|    GLP|             101.25|       77.33300018310547|
|     2019|        7|      SORRISO|    GLP|             101.25|       77.46640014648438|
|     2019|        6| RONDONOPOLIS|    GLP| 101.22200012207031|                    75.5|
|     2019|        3|ALTA FLORESTA|    GLP| 101.20825004577637|                    86.0|
|     2019|        4| RONDONOPOLIS|    GLP|              101.0|                    77.5|
|     2019|        5| RONDONOPOLIS|    GLP| 100.88919982910156|                    77.5|
|     2019|        4|ALTA FLORESTA|    GLP|  100.8747501373291|                    86.0|
|     2019|        6|        SINOP|    GLP|            100.625|        78.5875015258789|
|     2019|        5|      SORRISO|    GLP|            100.325|       78.31650161743164|
|     2019|        1| RONDONOPOLIS|    GLP|  99.68899993896484|                    75.0|
|     2019|        7|        SINOP|    GLP|  99.66660003662109|        77.8780014038086|
|     2019|        2| RONDONOPOLIS|    GLP|  99.19449996948242|       65.48500061035156|
|     2019|        3| RONDONOPOLIS|    GLP|  98.88875007629395|                  75.625|
|     2019|        7| RONDONOPOLIS|    GLP|               98.6|                    75.2|
|     2019|        3|      SORRISO|    GLP|           97.46875|       79.30000305175781|
|     2019|        4|VARZEA GRANDE|    GLP|  96.64999961853027|       73.01000022888184|
|     2019|        1|     XINGUARA|    GLP|  96.60940093994141|       68.44800109863282|
|     2019|        2|VARZEA GRANDE|    GLP|  96.54999923706055|       72.51000022888184|
|     2019|        6|VARZEA GRANDE|    GLP|  96.27499961853027|       68.13500022888184|
|     2019|        2|     XINGUARA|    GLP|  96.01174926757812|       62.92500114440918|
|     2019|        1|  PARAGOMINAS|    GLP|               96.0|                    69.6|
|     2019|        4|     XINGUARA|    GLP|  95.98200035095215|                    71.5|
|     2019|        5|     XINGUARA|    GLP|  95.88580017089843|                    66.5|
|     2019|        6|     XINGUARA|    GLP|  95.83300018310547|                    59.0|
|     2019|        1|VARZEA GRANDE|    GLP|  95.69999847412109|       71.50400085449219|
|     2019|        7|VARZEA GRANDE|    GLP|   95.5999984741211|                    72.5|
|     2019|        1|     REDENCAO|    GLP|  95.52000122070312|       64.50200119018555|
|     2019|        5|VARZEA GRANDE|    GLP|  95.47999877929688|       75.10199966430665|
|     2019|        3|     XINGUARA|    GLP|  95.38674926757812|       64.85000038146973|
|     2019|        5|       CUIABA|    GLP|  95.36719970703125|        69.4386001586914|
|     2019|        3|VARZEA GRANDE|    GLP|  95.29999923706055|       66.50750064849854|
|     2019|        3|       CUIABA|    GLP|   95.1617488861084|       74.59625053405762|
|     2019|        2|       CUIABA|    GLP|  95.04324913024902|       65.56824970245361|
|     2019|        7|       CUIABA|    GLP|  95.00499877929687|       73.63159942626953|
|     2019|        4|       CUIABA|    GLP|   94.8497486114502|       70.58074951171875|
|     2019|        4|      SORRISO|    GLP|              94.75|       79.30000305175781|
|     2019|        2|     REDENCAO|    GLP|   94.7495002746582|       53.42500114440918|
|     2019|        1|       CUIABA|    GLP|  94.61280059814453|       69.72859954833984|
+---------+---------+-------------+-------+-------------------+------------------------+
only showing top 50 rows

### 2.
**Calcule a média de valor do combustível por estado e região.**

In [16]:
media_combustivel_p_estado_regiao = df.groupBy("REGIÃO", "ESTADO", "PRODUTO"
    ).agg(
        sf.avg("PREÇO MÉDIO REVENDA").alias("PREÇO MÉDIO REVENDA"),
        sf.avg("PREÇO MÉDIO DISTRIBUIÇÃO").alias("PREÇO MÉDIO DISTRIBUIÇÃO")
    )

In [17]:
media_combustivel_p_estado_regiao.orderBy("PREÇO MÉDIO REVENDA", ascending=True).show()

+------------+------------------+----------------+-------------------+------------------------+
|      REGIÃO|            ESTADO|         PRODUTO|PREÇO MÉDIO REVENDA|PREÇO MÉDIO DISTRIBUIÇÃO|
+------------+------------------+----------------+-------------------+------------------------+
|CENTRO OESTE|       MATO GROSSO|ETANOL HIDRATADO|   2.72236866335715|      2.3106635891347436|
|     SUDESTE|         SAO PAULO|ETANOL HIDRATADO| 2.7265355418232606|       2.358346940160227|
|    NORDESTE|        PERNAMBUCO|             GNV|  2.831416569650173|      1.9397655986249447|
|CENTRO OESTE|MATO GROSSO DO SUL|             GNV|  2.923177782694499|      2.0758148343474776|
|         SUL|    SANTA CATARINA|             GNV|  2.928991328055302|       2.061190467505228|
|CENTRO OESTE|             GOIAS|ETANOL HIDRATADO| 2.9607571166651976|       2.536651170068933|
|         SUL|            PARANA|ETANOL HIDRATADO|  2.972672971920654|      2.5948425262823873|
|     SUDESTE|         SAO PAULO|             GNV| 2.9789762443477055|      2.2607117075103895|
|     SUDESTE|      MINAS GERAIS|ETANOL HIDRATADO| 3.0919021175753687|       2.636441725231559|
|    NORDESTE|             BAHIA|             GNV| 3.1597202657819627|      2.3244018150227412|
|       NORTE|          AMAZONAS|             GNV| 3.1638571875435963|      2.4788333574930825|
|         SUL|            PARANA|             GNV|  3.249515150532578|       2.540333370367686|
|CENTRO OESTE|  DISTRITO FEDERAL|ETANOL HIDRATADO|  3.251451623055243|       2.909709676619499|
|     SUDESTE|    RIO DE JANEIRO|             GNV| 3.3419171645796513|      2.4320873922401374|
|         SUL|            PARANA|     ÓLEO DIESEL|  3.349147947266847|      2.9877809663794963|
|    NORDESTE|           PARAIBA|ETANOL HIDRATADO| 3.3613763329803303|      2.9973779098932134|
|     SUDESTE|    ESPIRITO SANTO|             GNV| 3.3694342092463843|      2.2471154011212864|
|CENTRO OESTE|  DISTRITO FEDERAL|             GNV|  3.382800006866455|       2.865999937057495|
|         SUL| RIO GRANDE DO SUL|             GNV| 3.4052029687966874|      2.2137631460240015|
|         SUL|    SANTA CATARINA|     ÓLEO DIESEL| 3.4304272203191717|      3.0172079804955723|
+------------+------------------+----------------+-------------------+------------------------+
only showing top 20 rows

In [18]:
media_combustivel_p_estado_regiao.orderBy("PREÇO MÉDIO REVENDA", ascending=False).show()

+------------+-------------------+-------+-------------------+------------------------+
|      REGIÃO|             ESTADO|PRODUTO|PREÇO MÉDIO REVENDA|PREÇO MÉDIO DISTRIBUIÇÃO|
+------------+-------------------+-------+-------------------+------------------------+
|CENTRO OESTE|        MATO GROSSO|    GLP|  96.64785689252862|       75.12819952434964|
|       NORTE|            RORAIMA|    GLP|  84.16338717552924|       71.50980451030117|
|       NORTE|               PARA|    GLP|  82.08740120549356|       62.44162699592559|
|       NORTE|           RONDONIA|    GLP|  81.72840873144006|        64.5161720604025|
|       NORTE|          TOCANTINS|    GLP|  79.13297439082976|        56.5605225593813|
|       NORTE|           AMAZONAS|    GLP|  78.96468363115865|       65.01217513545868|
|       NORTE|               ACRE|    GLP|  78.16096779607958|       69.50541920815745|
|       NORTE|              AMAPA|    GLP|  77.51766131001133|       57.66022540676978|
|CENTRO OESTE| MATO GROSSO DO SUL|    GLP|  75.39629473005023|       55.89662286347034|
|    NORDESTE|              PIAUI|    GLP|  74.83423399156139|      52.533776905911026|
|    NORDESTE|           MARANHAO|    GLP|  74.62670147803522|       55.35522499310194|
|CENTRO OESTE|   DISTRITO FEDERAL|    GLP|  73.37922693067982|      52.660645761797504|
|    NORDESTE|              CEARA|    GLP|  71.38125316913312|      52.131327797106415|
|         SUL|             PARANA|    GLP|   71.1350578206267|      53.108506275894115|
|     SUDESTE|       MINAS GERAIS|    GLP|  70.56688050088681|       53.68493100506843|
|CENTRO OESTE|              GOIAS|    GLP|  70.51440217599018|       53.51955048334031|
|         SUL|     SANTA CATARINA|    GLP|   70.4651364913917|       51.38620465205266|
|         SUL|  RIO GRANDE DO SUL|    GLP|  69.91207697058236|      51.147129525309026|
|    NORDESTE|RIO GRANDE DO NORTE|    GLP|  68.99106413318265|      51.048169720557425|
|    NORDESTE|            SERGIPE|    GLP|   68.3074998547954|        54.0010650696293|
+------------+-------------------+-------+-------------------+------------------------+
only showing top 20 rows

### 3.
**Calcule a variância e a variação absoluta do máximo, mínimo de cada cidade, mês a mês.**

- Confesso que o fato de ter **mês a mês** explícito aqui me deixou confuso sobre minha decisão na questão 1, mas não acho que signifique um porto seguro o suficiente para mudar minha abordagem na primeira questão para agrupar só **por mês** em vez de **por mês e por ano**.

- Também fiquei na dúvida se deveria comparar **máximo com máximo** ou **máximo com mínimo** para cálculo da variância ou variação. Acabei optando pela interpretação que mais fazia sentido para mim dado o enunciado.

- Também considerei utilizar as colunas **COEF DE VARIAÇÃO** e **DESVIO PADRÃO** para chegar na **variância** e **variação**, mas não me pareceu uma idéia muito concreta, embora possível.

- Também optei por adicionar o grão **PRODUTO**

In [19]:
var_df = df.groupBy("MUNICÍPIO", "PRODUTO", "ANO MÉDIO","MES MÉDIO",
        ).agg(
            sf.variance("PREÇO MÍNIMO REVENDA").alias("VARIANCIA PREÇO MÍNIMO REVENDA"),
            sf.variance("PREÇO MÁXIMO REVENDA").alias("VARIANCIA PREÇO MÁXIMO REVENDA"),
            sf.variance("PREÇO MÍNIMO DISTRIBUIÇÃO").alias("VARIANCIA PREÇO MÍNIMO DISTRIBUIÇÃO"),
            sf.variance("PREÇO MÁXIMO DISTRIBUIÇÃO").alias("VARIANCIA PREÇO MÁXIMO DISTRIBUIÇÃO"),
            (sf.max("PREÇO MÍNIMO REVENDA") - sf.min("PREÇO MÍNIMO REVENDA")).alias("VARIAÇÃO PREÇO MÍNIMO REVENDA"),
            (sf.max("PREÇO MÁXIMO REVENDA") - sf.min("PREÇO MÁXIMO REVENDA")).alias("VARIAÇÃO PREÇO MÁXIMO REVENDA"),
            (sf.max("PREÇO MÍNIMO DISTRIBUIÇÃO") - sf.min("PREÇO MÍNIMO DISTRIBUIÇÃO")).alias("VARIAÇÃO PREÇO MÍNIMO DISTRIBUIÇÃO"),
            (sf.max("PREÇO MÁXIMO DISTRIBUIÇÃO") - sf.min("PREÇO MÁXIMO DISTRIBUIÇÃO")).alias("VARIAÇÃO PREÇO MÁXIMO DISTRIBUIÇÃO")
        )

In [20]:
var_df.orderBy(["MUNICÍPIO", "PRODUTO", "ANO MÉDIO","MES MÉDIO"], ascending=True).toPandas().head(20)

,MUNICÍPIO,PRODUTO,ANO MÉDIO,MES MÉDIO,VARIANCIA PREÇO MÍNIMO REVENDA,VARIANCIA PREÇO MÁXIMO REVENDA,VARIANCIA PREÇO MÍNIMO DISTRIBUIÇÃO,VARIANCIA PREÇO MÁXIMO DISTRIBUIÇÃO,VARIAÇÃO PREÇO MÍNIMO REVENDA,VARIAÇÃO PREÇO MÁXIMO REVENDA,VARIAÇÃO PREÇO MÍNIMO DISTRIBUIÇÃO,VARIAÇÃO PREÇO MÁXIMO DISTRIBUIÇÃO
0,ABAETETUBA,ETANOL HIDRATADO,2019,1,0.000000,0.000000,NaN,NaN,0.000,0.00,NaN,NaN
1,ABAETETUBA,ETANOL HIDRATADO,2019,2,0.000000,0.000000,0.000000,0.000000,0.000,0.00,0.000,0.000
2,ABAETETUBA,ETANOL HIDRATADO,2019,3,0.000000,0.000000,0.116162,0.116162,0.000,0.00,0.482,0.482
3,ABAETETUBA,ETANOL HIDRATADO,2019,4,0.003333,0.003333,0.011556,0.011556,0.100,0.10,0.215,0.215
4,ABAETETUBA,ETANOL HIDRATADO,2019,5,0.254300,0.006080,0.000000,0.000000,0.951,0.22,0.000,0.000
5,ABAETETUBA,ETANOL HIDRATADO,2019,6,0.000027,0.000000,NaN,NaN,0.009,0.00,NaN,NaN
6,ABAETETUBA,ETANOL HIDRATADO,2019,7,0.229408,0.000000,NaN,NaN,1.071,0.00,NaN,NaN
7,ABAETETUBA,GASOLINA COMUM,2019,1,0.000000,0.004500,0.000386,0.000386,0.000,0.15,0.039,0.039
8,ABAETETUBA,GASOLINA COMUM,2019,2,0.003333,0.018225,0.000380,0.003106,0.100,0.27,0.039,0.112
9,ABAETETUBA,GASOLINA COMUM,2019,3,0.000000,0.016300,0.005751,0.000674,0.000,0.27,0.174,0.062
10,ABAETETUBA,GASOLINA COMUM,2019,4,0.006667,0.013558,0.005203,0.005203,0.200,0.27,0.176,0.176
11,ABAETETUBA,GASOLINA COMUM,2019,5,0.005070,0.000020,0.018814,0.027635,0.130,0.01,0.355,0.355
12,ABAETETUBA,GASOLINA COMUM,2019,6,0.000000,0.000000,0.000408,0.000408,0.000,0.00,0.035,0.035
13,ABAETETUBA,GASOLINA COMUM,2019,7,0.000120,0.000000,0.001177,0.000459,0.020,0.00,0.067,0.048
14,ABAETETUBA,GLP,2019,1,0.000000,0.000000,0.000000,0.000000,0.000,0.00,0.000,0.000
15,ABAETETUBA,GLP,2019,2,0.250000,2.000000,0.000000,0.000000,1.000,3.00,0.000,0.000
16,ABAETETUBA,GLP,2019,3,0.000000,0.000000,0.000000,0.000000,0.000,0.00,0.000,0.000
17,ABAETETUBA,GLP,2019,4,0.000000,0.000000,0.000000,0.000000,0.000,0.00,0.000,0.000
18,ABAETETUBA,GLP,2019,5,0.300000,0.000000,0.000000,0.000000,1.000,0.00,0.000,0.000
19,ABAETETUBA,GLP,2019,6,0.000000,0.000000,0.000000,0.000000,0.000,0.00,0.000,0.000

### 4.
**Quais são as 5 cidades que possuem a maior diferença entre o combustível mais barato e o mais caro.**

- Decidi comparar tanto preço de **distribuição** quanto **revenda**

In [21]:
dif_df = df.groupby(
        "MUNICÍPIO"
    ).agg(
        (sf.max("PREÇO MÁXIMO DISTRIBUIÇÃO") - sf.min("PREÇO MÍNIMO DISTRIBUIÇÃO")).alias("DIFERENÇA DISTRIBUIÇÃO"),
        (sf.max("PREÇO MÁXIMO REVENDA") - sf.min("PREÇO MÍNIMO REVENDA")).alias("DIFERENÇA REVENDA"),
    )

- Top 5 cidades pela diferença

In [22]:
dif_df.orderBy("DIFERENÇA DISTRIBUIÇÃO",ascending=False).select("MUNICÍPIO").limit(5).show()

+-------------+
|    MUNICÍPIO|
+-------------+
|       CUIABA|
|ALTA FLORESTA|
|VARZEA GRANDE|
|        SINOP|
|      VILHENA|
+-------------+

In [23]:
dif_df.orderBy("DIFERENÇA DISTRIBUIÇÃO",ascending=False).show()

+--------------------+----------------------+-----------------+
|           MUNICÍPIO|DIFERENÇA DISTRIBUIÇÃO|DIFERENÇA REVENDA|
+--------------------+----------------------+-----------------+
|              CUIABA|                88.097|          112.883|
|       ALTA FLORESTA|                83.701|           107.34|
|       VARZEA GRANDE|                83.087|          102.845|
|               SINOP|                 78.91|          107.611|
|             VILHENA|                77.984|            87.56|
|        RONDONOPOLIS|                 77.92|          107.601|
|             SORRISO|                 77.91|           117.46|
|        BOM DESPACHO|                73.862|           79.351|
|              PALMAS|                73.542|            89.86|
|            XINGUARA|                 73.48|           96.511|
|SAO BERNARDO DO C...|                 73.36|           87.741|
|              ARARAS|                72.893|           82.701|
|               BELEM|             72.604004|           81.701|
|           ARIQUEMES|                71.726|            84.38|
|            REDENCAO|             71.590004|            96.35|
|         PARAUAPEBAS|                 70.94|           91.201|
|              SANTOS|                70.427|           87.541|
|           BOA VISTA|                70.393|            83.65|
|  SAO CAETANO DO SUL|                 69.93|           87.651|
|      RIO DE JANEIRO|                69.872|           77.401|
+--------------------+----------------------+-----------------+
only showing top 20 rows

In [24]:
dif_df.orderBy("DIFERENÇA REVENDA",ascending=False).select("MUNICÍPIO").limit(5).show()

+-------------+
|    MUNICÍPIO|
+-------------+
|      SORRISO|
|       CUIABA|
|        SINOP|
| RONDONOPOLIS|
|ALTA FLORESTA|
+-------------+

In [25]:
dif_df.orderBy("DIFERENÇA REVENDA",ascending=False).show()

+--------------------+----------------------+-----------------+
|           MUNICÍPIO|DIFERENÇA DISTRIBUIÇÃO|DIFERENÇA REVENDA|
+--------------------+----------------------+-----------------+
|             SORRISO|                 77.91|           117.46|
|              CUIABA|                88.097|          112.883|
|               SINOP|                 78.91|          107.611|
|        RONDONOPOLIS|                 77.92|          107.601|
|       ALTA FLORESTA|                83.701|           107.34|
|            ALTAMIRA|                66.927|           106.43|
|            ITAITUBA|                  64.9|           104.48|
|       VARZEA GRANDE|                83.087|          102.845|
|            XINGUARA|                 73.48|           96.511|
|            REDENCAO|             71.590004|            96.35|
|             CACERES|                 67.08|            95.73|
|               COXIM|                55.871|           95.721|
|         PARAGOMINAS|                  68.0|           92.601|
|            BRASILIA|             63.000004|           92.121|
|            JANUARIA|                 65.48|            92.01|
|PARAISO DO TOCANTINS|                67.062|           91.821|
|             CORUMBA|                64.123|            91.65|
|         PARAUAPEBAS|                 70.94|           91.201|
|      RIBEIRAO PRETO|                61.005|           90.801|
|              PALMAS|                73.542|            89.86|
+--------------------+----------------------+-----------------+
only showing top 20 rows

- Como um mato grossense nato de sorriso, não fiquei muito feliz de ver minha cidade nessa 1ª posição.

- Decidi agrupar esses dados no mesmo **grão**, com as colunas **PRODUTO**, e **DATA MÉDIA** e ver como ficaria.

In [26]:
dif_grao_df = df.groupby(
        "MUNICÍPIO", "PRODUTO", "DATA MÉDIA"
    ).agg(
        (sf.max("PREÇO MÁXIMO DISTRIBUIÇÃO") - sf.min("PREÇO MÍNIMO DISTRIBUIÇÃO")).alias("DIFERENÇA DISTRIBUIÇÃO"),
        (sf.max("PREÇO MÁXIMO REVENDA") - sf.min("PREÇO MÍNIMO REVENDA")).alias("DIFERENÇA REVENDA"),
    )

In [27]:
dif_grao_df.groupby(
        "MUNICÍPIO"
    ).agg(
        sf.max("DIFERENÇA DISTRIBUIÇÃO").alias("DIFERENÇA DISTRIBUIÇÃO")
    ).orderBy(
        "DIFERENÇA DISTRIBUIÇÃO", ascending=False
).show()

+--------------------+----------------------+
|           MUNICÍPIO|DIFERENÇA DISTRIBUIÇÃO|
+--------------------+----------------------+
|              CUIABA|                 37.64|
|              SANTOS|             31.210003|
|      RIO DE JANEIRO|                 30.25|
|SAO BERNARDO DO C...|                 30.02|
|              ARARAS|                 28.43|
|  SAO CAETANO DO SUL|             27.759998|
|              PALMAS|                  26.2|
|             DIADEMA|             25.910004|
|         SANTA MARIA|                 25.18|
|               BELEM|                  25.0|
|              ILHEUS|                  24.0|
|       CAXIAS DO SUL|                  23.8|
|           SAO PAULO|             23.470001|
|             ERECHIM|             23.130001|
|      NOVA ANDRADINA|                 22.64|
|             LAJEADO|                 22.64|
|          URUGUAIANA|                 22.04|
|       FOZ DO IGUACU|                  21.7|
|            SALVADOR|             21.119999|
|             PELOTAS|                  20.5|
+--------------------+----------------------+
only showing top 20 rows

### Obrigado por lerem até aqui e quem sabe futuramente possamos nos conhecer. Abraço